<% provide(:title, 'Directory Listing') %>
<h1>Directory Listing</h1>


<%= will_paginate %>

<table class="table table-hover table-bodered">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Department</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @departments.each do |department| %>
  <% department.employees.each do |employee| %>
  <tbody>
      <tr>
      <td><%= employee.firstname  %></td>
      <td><%= employee.lastname %></td>
      <td><%= employee.department ? employee.department.name : 'Unassigned'  %></td>
      <td><%= link_to "Transfer", '#' %></td>
      <td><%= link_to 'Show', '#' %></td>
      <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>

<%= link_to "New Employee", "#", class: "btn" %>