<div class="jumbotron">
  <div class="container-fluid">
    <h1>Opus Group on Rails!</h1>
    <p>
      This demo explores the utilities of Ruby on Rails (4) by building  serveral
      general business apps (in their simplest implementations).
      <br> <%= link_to "Learn More >>", "#", class: "btn btn-primary btn-lg"  %>
    </p>
  </div>
</div>

<div class="container-fluid">
  <h1>Demos</h1>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h1><small>Directory</small></h1>
      <p>
        This application implements the functionality of an organization's directory.
        It allows you to add/remove departments and employees, transfer employees,
        search for employees, generate a report of employees and more.
        <br> <%= link_to "Explore >>", departments_path, class: "btn btn-default" %>
      </p>
    </div>
    <div class="col-md-4">
      <h1><small>Billing</small></h1>
      <p>
        This application attempts to mimic an order entry and billing system.
        It logs vendor and customer information, as well as invoices.
        <br> <%= link_to "Explore >>", "#", class: "btn btn-default" %>
      </p>
    </div>
    <div class="col-md-4">
      <h1><small>Reporting</small></h1>
      <p>
        This application generates a variety of reports in different formats.
        Users are able to customize thier report header, report columns, etc.
        <br> <%= link_to "Explore >>", "#", class: "btn btn-default" %>
      </p>
    </div>
    <div class="col-md-4">
      <h1><small>Vendor Access</small></h1>
      <p>
        This application allows vendors create accounts, search for and receive orders,
        submit invoices and proposals, track their invoice, and more.
        <br> <%= link_to "Explore >>", "#", class: "btn btn-default" %>
      </p>
    </div>
    <div class="col-md-4">
      <h1><small>Search Engine</small></h1>
      <p>
        Returns relevant results based on simple searches. More functionality to
        be added later, such as autocomplete, search suggestions, etc
        <br> <%= link_to "Explore >>", "#", class: "btn btn-default" %>
      </p>
    </div>
    <div class="col-md-4">
      <h1><small>Ticketing System</small></h1>
      <p>
        Ticketing system that allows users create and archive a ticket.
        It also allows admin track tickets and move them to particular stages.

        <br> <%= link_to "Explore >>", "#", class: "btn btn-default" %>
      </p>
    </div>
    <div class="col-md-4">
      <h1><small>Case Management</small></h1>
      <p>
        Case management system with multi-roles users, reporting, searching,
        file uploading and archiving.
        <br> <%= link_to "Explore >>", "#", class: "btn btn-default" %>
      </p>
    </div>
    <div class="col-md-4">
      <h1><small>Issue Tracker</small></h1>
      <p>
        This application allows users submit an issue request and track its progress
        through multiple stages. Users can search for the issue request by
        issue number or keywords.
        <br> <%= link_to "Explore >>", "#", class: "btn btn-default" %>
      </p>
    </div>
    <div class="col-md-4">
      <h1><small>Scheduler</small></h1>
      <p>
        Implements a scheduling system, automatically sorts schedule by priority and
        time.
        <br> <%= link_to "Explore >>", "#", class: "btn btn-default" %>
      </p>
    </div>
  </div>
</div>